@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
  background-color: #ecddd0;
}

.bg-trans {
  background-color: #ecddd07e;
}

.bg-1 {
  background-color: #f5ebe0;
}

.bg-2 {
  background-color: #d8cdbf7a;
}

@keyframes gradientBackground {
  0% {
    background-color: #e1d0bb;
  }
  50% {
    background-color: #d5e6b5;
  }
  100% {
    background-color: #e1d0bb;
  }
}

/* Add this CSS to your global styles or as a separate class */
li {
  overflow: hidden; /* Prevents content from overflowing during animation */
  transition: all 0.5s ease-in-out; /* Smooth transition for width and height */
}

li.collapsed {
  height: 0;
  width: auto; /* Will shrink */
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0; /* Make it invisible when collapsed */
}

li.expand {
  height: auto;
  width: 100%; /* Expands horizontally */
  padding-top: 10px; /* Space for content */
  padding-bottom: 10px;
  opacity: 1; /* Make it visible */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #453629; /* Background color of the scrollbar track (from .bg-main) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ecddd07e; /* Color of the scrollbar thumb (from .bg-1) */
  border-radius: 4px; /* Round edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #d8cdbf7a; /* Darker shade on hover (from .bg-2) */
}

/* Optional: Add for specific scrollable elements */
.my-scrollable-element {
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrolling (optional) */
}
