@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
  background-color: #ecddd0;
}

.bg-1 {
  background-color: #f5ebe0;
}

@keyframes gradientBackground {
  0% {
    background-color: #e1d0bb;
  }
  50% {
    background-color: #d5e6b5;
  }
  100% {
    background-color: #e1d0bb;
  }
}
